<div class="row my-2">
  <div class="col-lg-3 col-md-4 logo">
    <a class="btn title" href="https://github.com/stefano2007">
      <span>
        <i class="fa-brands fa-github"></i>
        Github Profile Explores
      </span>
    </a>
  </div>
  <div class="col-lg-9 col-md-8 search">
    <form class="search-form">
      <div class="input-group">
        <input type="search" class="form-control" name="input-search"
        [(ngModel)]="searchText"
        (keydown.enter)="searchSubmit()"
        />
        <button type="button" class="btn btn-dark" name="submit-search" aria-label="submit search"
          (click)="searchSubmit()">
          <i class="fas fa-search fa-lg"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<hr/>
<div class="container">
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading">
    <div class="row my-3" *ngFor="let item of userSearch.items">
      <app-search-user-card [username]="item.login"></app-search-user-card>
    </div>
 </div>
</div>
