<div class="row my-2">
  <div class="col search">
    <form class="search-form">
      <div class="input-group">
        <input type="search" class="form-control" name="input-search"
        [(ngModel)]="searchText"
        (keydown.enter)="searchSubmit()"
        />
        <button type="button" class="btn btn-dark" name="submit-search" aria-label="submit search"
          (click)="searchSubmit()">
          <i class="fas fa-search fa-lg"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="row mt-2">
    <div class="col">
      <select class="form-select" name="options-sort" placeholder="Alter sort" [(ngModel)]="selectedSort" (change)="changeSort()" >
        <option [ngValue]="undefined">Default Order</option>
        <option *ngFor="let op of sortOptions" [ngValue]="op.options">
            {{op.name}}
        </option>
    </select>
    </div>
    <div class="col">
      <input type="search" class="form-control" name="input-search" placeholder="Find Repos Name"
          [(ngModel)]="searchReposName"
          (keyup)="filterByReposName()"/>
    </div>
    <div class="col d-flex justify-content-center align-self-center">
      <label for="input-stars">
        <i class="fa-solid fa-star"></i>
      </label>
      <input id="input-stars" name="input-stars" type="range" min="0" max="6" value="0"
        [(ngModel)]="starIndexFilter"
        (change)="changeStarFilter()" >
      <p>
        {{getStarsRangeText()}}
      </p>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading">
    <div class="d-flex justify-content-center h4" *ngIf="userSearch.items.length ==0">
      <i class="fa-solid fa-magnifying-glass me-2"></i> No results found.
    </div>
    <div *ngIf="userSearch.items.length >0 ">
      <div class="row my-3" *ngFor="let item of userSearch.items">
        <app-search-user-card
        [username]="item.login"
        (callbackSetStars)="setStars($event)"
        (callbackSetRepos)="setRepositories($event)"></app-search-user-card>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination *ngIf="userSearch.items.length >0 "
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="userSearch.total_count"
        (pageChange)="changePage($event)"
        [maxSize]="5"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
