<div class="row my-5">
    <div class="col search">
      <div class="d-flex justify-content-center">
        <a class="btn title" href="https://github.com/stefano2007">
          <span>
            <i class="fa-brands fa-github"></i>
            Github Profile Explorer
          </span>
        </a>
      </div>
      <form class="search-form my-2">
        <div class="input-group">
          <input type="search" class="form-control" name="input-search"
          [(ngModel)]="searchText"
          (keydown.enter)="searchSubmit()"
          />
          <button type="button" class="btn btn-dark btn-lg" name="submit-search" aria-label="submit search"
            (click)="searchSubmit()">
            <i class="fas fa-search fa-lg"></i>
          </button>
        </div>
      </form>
    </div>
</div>
